{% extends 'base.html' %}
{% block title %}Login{% endblock%}

{% block content %}

<h1 class="display-1">Login</h1>
<p class="lead">Login to our Application. No account? <a href="/register">Register Here</a></p>

<!-- Login Form -->
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        <!-- error -->
        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-info">Login</button>

</form>

{% endblock %}