{% extends 'base.html' %}
{% block title %}Sail-Master{% endblock %}
{% block content %}

<h5 class="display-5">Welcome To Sail-Master!</h5>
<br>
<p class="lead text-start">Sail-Master is an application for sailors and water sports' enthusiasts who share the joy in sailing. This application allows to create a voyage between two sailing clubs and checks weather conditions. If this is your first time in Sail-Master please feel free to register for a new account to gain full access to our application.</p>
<p class="lead text-start fst-italic">Happy Sailing!</p>

{% endblock %}