{% extends 'base.html' %}
{% block title %}User Details{% endblock %}
{% block content %}

<div class="container">
    <h5 class="display-5">{{user.first_name}} {{user.last_name}} Details</h5>
    <table class="table table-sm table-striped user-details">
      <thead class="thead-dark">
        <th>Username</th>
        <th>Email</th>
        <th>First</th>
        <th>Last</th>
      </thead>
      <tbody>
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
        </tr>
      </tbody>
    </table>
    <form>
      <button formaction="/limited/{{ user.id }}/activate" formmethod="POST" class="btn btn-success">Reactivate Account</button>
    </form>

</div>

{% endblock %}